<div id="pinned" class="pinned-section">
  <div class="pinned-wrap">
    <div class="pinned-item">
      <iframe 
        src="https://boq.bike/pinned-embeds" 
        style="width: clamp(300px, 100%, 100vw); height: clamp(300px, 550px, 90vh); border: none;" 
        scrolling="no">
      </iframe>
    </div>
  </div>
</div>