<header class="header-section">
	<div class="header-wrap">
		<div class="header-logo">
		{{>logo}}
		</div>
		<div class="header-nav">
			<input id="toggle" class="header-checkbox" type="checkbox">
			<label class="header-toggle" for="toggle">
				<span>
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</span>
			</label>
			<nav class="is-search">
				<ul>{{navigation}}</ul>
				<ul>
					<li class="header-search"{{#if @custom.content_api_key_for_search}} id="search-open"{{else}} data-ghost-search{{/if}}><span>{{t "Find Routes"}}</span>{{>icons/site/search}}</li>
					{{>members/login_panel}}
				</ul>
			</nav>
		</div>
	</div>
</header>