{{#if next}}
<div class="pagination-section">
	<div class="pagination-wrap">
		<a id="next" href="{{page_url next}}"></a>
		{{#if @custom.standard_load_more_button}}
		<button id="loadmore" class="global-button">{{t "Load more"}}</button>
		{{else}}
		<button id="loadmore" class="load-more" aria-label="{{t "Load more"}}"></button>
		{{/if}}
	</div>
</div>
{{/if}}