{{! Detailed instructions can be found in the Documentation >> Activation >> Special sections }}

{{!--
<div class="special-section">
	<div class="global-heading">
		<h3>XXXXX</h3>
		<a href="{{@site.url}}/tag/XXXXX/">See all XXXXX{{>icons/site/arrow_right}}</a>
	</div>
	{{#get "posts" limit="5" filter="tag:XXXXX" include="authors,tiers"}}
	{{>sections_content}}
	{{/get}}
</div>
--}}
